[submodule "packages/fleetops"]
	path = packages/fleetops
	url = https://github.com/gcardinale/fleetbase_fleetops.git
[submodule "packages/storefront"]
	path = packages/storefront
	url = https://github.com/gcardinale/fleetbase_storefront.git
[submodule "packages/pallet"]
	path = packages/pallet
	url = https://github.com/gcardinale/fleetbase_pallet.git
[submodule "packages/core-api"]
	path = packages/core-api
	url = https://github.com/gcardinale/fleetbase_core-api.git
	branch = main
[submodule "packages/ember-core"]
	path = packages/ember-core
	url = https://github.com/gcardinale/fleetbase_ember-core.git
	branch = main
[submodule "packages/ember-ui"]
	path = packages/ember-ui
	url = https://github.com/gcardinale/fleetbase_ember-ui.git
	branch = main
[submodule "packages/iam-engine"]
	path = packages/iam-engine
	url = https://github.com/gcardinale/fleetbase_iam-engine.git
[submodule "packages/dev-engine"]
	path = packages/dev-engine
	url = https://github.com/gcardinale/fleetbase_dev-engine.git
	branch = main
[submodule "packages/fleetbase-extensions-indexer"]
	path = packages/fleetbase-extensions-indexer
	url = https://github.com/gcardinale/fleetbase-extensions-indexer.git
[submodule "packages/fleetops-data"]
	path = packages/fleetops-data
	url = https://github.com/gcardinale/fleetbase_fleetops-data.git
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/fleetbase/docs.git
[submodule "packages/registry-bridge"]
	path = packages/registry-bridge
	url = https://github.com/gcardinale/fleetbase_registry-bridge.git
[submodule "packages/ledger"]
	path = packages/ledger
	url = https://github.com/fleetbase/ledger.git
